<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails 5.0.0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application_temp', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application_temp', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
